{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags social_share i18n %}

{% block content %}

<!-- Page Content -->
<div class="container">

{% if user.is_authenticated %}

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">{{ page.title }}
    <small>avec
      <a href="#"> {% include 'brand_name.html' %} </a>
    </small>
  </h1>

  {% include 'breadcrumb.html' %}

  <div class="row">

    <div class="col-lg-8">

      {% if page.get_status_text %}
        <h3 class="title text-danger"> {{ page.get_status_text }} </h3>
      {% endif %}

      <h5>Dates</h5>
      <ul class="list-unstyled">
        <h6><li><i class="far fa-clock"></i> Début : {{ page.start_dt  }}</li></h6>
        <h6><li><i class="far fa-clock"></i> Fin : {{ page.end_dt }}</li></h6>
      </ul>

      <h5>Inscriptions déjà enregistrées</h5>
      <ul class="list-unstyled" id="participation">
        {% if presences %}
        <li><i class="far fa-user"></i> Présents : 
          {% for instrumentpresence in instrumentpresences %}
            {% if instrumentpresence.num_participations != 0 %}
              {{ instrumentpresence.num_participations}} en {{ instrumentpresence}},&nbsp;
            {% endif %}
          {% endfor %}
            (
            {% for vote in presences %}
              {% if vote.user.first_name %}
                {{ vote.user.first_name}},&nbsp;
              {% endif %}
            {% endfor %}
            )
        </li>
        {% endif %}
        {% if absences %}
        <li><i class="far fa-user"></i> Absents : 
          {% for vote in absences %}
            {{ vote.user.first_name}}&nbsp;
          {% endfor %}
        </li>
        {% endif %}
        {% if questions %}
        <li><i class="far fa-user"></i> Incertains : 
          {% for vote in questions %}
            {{ vote.user.first_name}},&nbsp;
          {% endfor %}
        </li>
        {% endif %}
      </ul>

      {% if instrumentmaxs %}
        <h5>Maximum souhaité pour certains instruments</h5>
        <ul class="list-unstyled" id="participation">
          <li><i class="far fa-laugh-wink"></i> Maximum souhaité : 
            {% for instrumentmax in instrumentmaxs %}
              En {{ instrumentmax.instrument}}: &nbsp;pas plus de {{ instrumentmax.nbmax}},
            {% endfor %}
          </li>
        </ul>
      {% endif %}

      <table class="table" id="participationajax-table">
        <tbody>
          {% include 'events/includes/partial_participationajax_list.html' %}
        </tbody>
      </table>

      <h5>Lieu</h5>
      {% if page.location %}
      <ul class="list-unstyled">
        <li>
          <a href="#macarte">
          <i class="fas fa-map-marked-alt"></i>
          Lieu : {{ page.location }}
          </a>
        </li>
      </ul>
      <!-- Carte -->
      <div id="macarte" style="height: 300px"></div>
      {% endif %}

      <hr>
      <a href="{{ page.url }}ical/" class="btn btn-primary btn-round ml-auto" style="font-size: large;padding-left: 1em;
      padding-right: 1rem; padding-bottom: 0.25rem; padding-top: 0.25rem; margin-bottom: 1rem;"><i class="far fa-calendar-plus"></i></a>  Ajoutez à votre agenda
  
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

    <!-- Inscriptions -->
      <div class="card mb-4">
        <h5 class="card-header">Inscriptions</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-12 mb-3">
              <button class="create-participation btn btn-primary" type="button" name="button">
                <span class="fa fa-plus mr-2"></span>Inscrivez vous
              </button>
            </div>
              <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    
    <!-- Inscriptions -->
      <div class="card mb-4">
        <h5 class="card-header">Inscriptions ajax</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-12 mb-3">
              <button type="button" class="btn btn-primary js-create-participationajax" data-url="{% url 'events:participationajax_create' page.slug %}">
                <span class="fa fa-plus mr-2"></span>Inscrivez vous
              </button>
            </div>
            <div class="modal fade" id="modal-participationajax">
              <div class="modal-dialog">
                <div class="modal-content">
          
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Catégories de l'événement</h5>
        <div class="card-body">
          <div class="row">
            <ul class="list-unstyled ml-3">
              {% for category in page.get_categories %}
              <li>
                  <a href="">
                      {{ category.name }}
                  </a>
              </li>
          {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Souvenirs...</h5>
        <div class="card-body">
          {% image page.image fill-1000x667 as header_image %}
          <img class="card-img-top img-fluid" alt="{{ page.image.title }}" src="{{ header_image.url }}">
        </div>
      </div>

    </div>

  </div>
  <!-- /.row -->


{% else %}
  <h5 class="center-align">Merci de vous identifier pour accéder à cette page.</h5>
  <button type="button" class="btn btn-warning login-btn mb-3">Connexion</button>
{% endif %}

</div>
<!-- /.container -->



{% endblock content %}


{% block extra_js %}

  <script>
      $(function () {
      // Create participation button
      $(".create-participation").modalForm({formURL: "{% url 'events:create_participation' page.slug %}", modalID: "#create-modal"});
          // Create map
          var carte = L.map('macarte').setView([{{ page.omap }}], 12);
          var marker = L.marker([{{ page.omap }}]).addTo(carte);
          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a>'
            }).addTo(carte);
        });
  </script>

  <script>

$(function () {

  /* Functions */

  var loadForm = function () {
    var btn = $(this);
    $.ajax({
      url: btn.attr("data-url"),
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#modal-participationajax .modal-content").html("");
        $("#modal-participationajax").modal("show");
      },
      success: function (data) {
        $("#modal-participationajax .modal-content").html(data.html_form);
      }
    });
  };

  var saveForm = function () {
    var form = $(this);
    $.ajax({
      url: form.attr("action"),
      data: form.serialize(),
      type: form.attr("method"),
      dataType: 'json',
      success: function (data) {
        $("#participationajax-table").html(data.html_participationajax_list);
        if (data.form_is_valid) {
          $("#participationajax-table tbody").html(data.html_participationajax_list);
          $("#modal-participationajax").modal("hide");
        }
        else {
          $("#modal-participationajax .modal-content").html(data.html_form);
        }
      }
    });
    return false;
  };


  /* Binding */

  // Create participationajax
  $(".js-create-participationajax").click(loadForm);
  $("#modal-participationajax").on("submit", ".js-participationajax-create-form", saveForm);
});

  </script>
    
{% endblock %}