{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags social_share i18n %}

{% block content %}

{% if user.is_authenticated %}

<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">{{ page.title }}
    <small>avec
      <a href="#"> {% include 'brand_name.html' %} </a>
    </small>
  </h1>

  {% include 'breadcrumb.html' %}

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">
      <!-- Preview Image -->
      <div id="macarte" style="height: 300px"></div>
      <hr>

    {% if page.get_status_text %}
      <h3 class="title text-danger"> {{ page.get_status_text }} </h3>
    {% endif %}

    <a href="{{ page.url }}ical/" class="btn btn-primary btn-round ml-auto" style="font-size: large;padding-left: 1em;
      padding-right: 1rem; padding-bottom: 0.25rem; padding-top: 0.25rem; margin-bottom: 1rem;"><i class="far fa-calendar-plus"></i></a> Importez dans votre calendrier
    
    <ul class="list-unstyled">
      <li><i class="far fa-play-circle"></i> {{ page.start_dt|date:'r' }}</li>
      <li><i class="far fa-stop-circle"></i> {{ page.end_dt|date:'r' }}</li>
    </ul>

    <ul class="list-unstyled" id="participation">
      {% if presences %}
      <li><i class="far fa-play-circle"></i> Présents : 
        {% for instrumentpresence in instrumentpresences %}
          {% if instrumentpresence.num_participations != 0 %}
            {{ instrumentpresence.num_participations}} en {{ instrumentpresence}},&nbsp;
          {% endif %}
        {% endfor %}
          (
          {% for vote in presences %}
            {% if vote.user.first_name %}
              {{ vote.user.first_name}},&nbsp;
            {% endif %}
          {% endfor %}
          )
      </li>
      {% endif %}
      {% if absences %}
      <li><i class="far fa-user"></i> Absents : 
        {% for vote in absences %}
          {{ vote.user.first_name}}&nbsp;
        {% endfor %}
      </li>
      {% endif %}
      {% if questions %}
      <li><i class="far fa-play-circle"></i> Incertains : 
        {% for vote in questions %}
          {{ vote.user.first_name}},&nbsp;
        {% endfor %}
      </li>
      {% endif %}
    </ul>

    {% if page.location %}
    <ul class="list-unstyled">
      <li>
        <i class="fas fa-map-marked-alt"></i>
         Lieu : {{ page.location }}
      </li>
    {% endif %}
    </ul>
    
    </div>

    <hr>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->
      <div class="card mb-4">
        <h5 class="card-header">Inscriptions</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-12 mb-3">
              <button class="create-participation btn btn-primary" type="button" name="button">
                <span class="fa fa-plus mr-2"></span>Inscrivez vous</button>
            </div>
              <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              {% for category in page.get_categories %}
              <li>
                  <a href="/calendar/category/{{ category.name|lower }}/">
                      {{ category.name }}
                  </a>
              </li>
          {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
          {% image page.image fill-1000x667 as header_image %}
          <img class="card-img-top img-fluid" alt="{{ page.image.title }}" src="{{ header_image.url }}">
        </div>
      </div>

    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->


{% else %}
 <div class="container">
    <h5 class="center-align">Merci de vous <a href="{% url 'home:login' %}" >identifier </a>pour accéder à cette page.</h5>
  </div>
{% endif %}

{% endblock content %}


    {% block extra_js %}

    <script>
        $(function () {
    
        // Create participation button
        $(".create-participation").modalForm({formURL: "{% url 'home:create_participation' page.slug %}", modalID: "#create-modal"});

            // Create map
            var carte = L.map('macarte').setView([{{ page.omap }}], 12);
            var marker = L.marker([{{ page.omap }}]).addTo(carte);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a>'
              }).addTo(carte);
        
          });
        </script>
    
    {% endblock %}