{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags  home_tags %}

{% block content %}

{% image page.cardimage1 width-800 as cardphoto1 %}

 <!-- Page Content -->
 <div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">{{ page.heading}}
    <small>{{ page.subheading}}</small>
  </h1>

  {% include 'breadcrumb.html' %}

  <!-- Intro Content -->
  <div class="row">
    <div class="col-lg-6">
      <img class="img-fluid rounded mb-4 shadow-lg" src="{{ cardphoto1.url }}" width="{{ cardphoto1.width }} alt="">
    </div>
    <div class="col-lg-6">
      {{ page.cardtext1|richtext }}
    </div>
  </div>
  <!-- /.row -->

  <hr>

  {% if page.invitation %}

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>{{ page.invitation|richtext }}</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" 
          data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse">Découvrez les musiciens</a>
        </div>
      </div>

  <!-- Our Customers -->

  <div id="collapse" class="collapse mb-4 text-center">
    {% trombi %}
  </div>

  {% endif %} 

</div>
<!-- /.container -->


{% endblock %}