{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}


{% block content %}

{% image page.carouselimage1 width-1900 as carouselphoto1 %}
{% image page.carouselimage2 width-2700 as carouselphoto2 %}
{% image page.cardimage1 width-800 as cardphoto1 %}
{% image page.cardimage2 width-800 as cardphoto2 %}
{% image page.cardimage3 width-800 as cardphoto3 %}
{% image page.carousellogo width-800 as logo %}


<header>
  <div id="carouselExampleIndicators" class="carousel carousel-fade slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url({{carouselphoto1.url}});">
        <div class="carousel-caption d-md-block">
          <img class="img-fluid " src="{{ logo.url }}" width="{{ logo.width }} alt="">
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url({{carouselphoto2.url}});">
        <div class="carousel-caption d-md-block">
          <h3>{{ page.carouseltext2|richtext }}</h3>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>


  <!-- Page Content -->
  <div class="container">

    <!-- Project One -->
    <div class="row mt-3">
      <div class="col-md-7">
        <a href="#">
          {% image page.cardimage1 height-300 as cardphoto1 %}
          <img src="{{ cardphoto1.url }}" width="{{ cardphoto1.width }}"
          height="{{ cardphoto1.height }}" alt="{{ cardphoto1.alt }}" class="card-img-top" />
        </a>
      </div>
      <div class="col-md-5">
        {{ page.cardtext1|richtext }}
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
      <div class="col-md-7">
        <div id="macarte" style="height: 300px"></div>
      </div>
      <div class="col-md-5">
        {{ page.cardtext2|richtext }}
        <h2 class="mb-3">{{ nextevent.title }}</h2> 
        <ul class="list-unstyled">
          <h6><li><i class="far fa-clock"></i> Début : {{ nextevent.start_dt  }}</li></h6>
          <h6><li><i class="far fa-clock"></i> Fin : {{ nextevent.end_dt }}</li></h6>
        </ul>
        <h5>à {{ nextevent.location }}</h5> 
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row">
      <div class="col-md-7">
        {% image page.cardimage3 height-300 as cardphoto3 %}
        <img src="{{ cardphoto3.url }}" width="{{ cardphoto3.width }}"
          height="{{ cardphoto3.height }}" alt="{{ cardphoto3.alt }}" class="card-img-top" />
      </div>
      <div class="col-md-5">
      {{ page.cardtext3|richtext }}
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>{{ page.invitation|richtext  }}</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block login-btn" href="#">Connexion</a>
      </div>
    </div>

  </div>
  <!-- /.container -->

{% endblock %}

{% block extra_js %}

<script>
    $(document).ready(function () {
        // Create map
        var carte = L.map('macarte').setView([{{ nextevent.omap }}], 12);
        var marker = L.marker([{{ nextevent.omap }}]).addTo(carte);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a>'
          }).addTo(carte);
    });
</script>
{% endblock %}