{% load wagtailcore_tags static %}

    <h2>{{ piece.title }}</h2>

{% if piece.date %}
    <div class="meta date">
        {{ piece.date|date:"F jS, Y" }}
        {{ piece.author }}
    </div>
{% endif %}

{% if include_context == "index_page" %}
<div class="piece-intro">
    {{ piece.body|richtext|truncatewords_html:70 }} 
    <a href="{% pageurl piece %}">Intégralité du texte &raquo;</a>
</div>
{% else %}
<div class="piece-body">
    {{ piece.body|richtext }}
</div>
{% endif %}

<div class="meta">
    <div class="tags">
        {% if piece.tags.all %}
            Tags: 
                {% for tag in piece.tags.all %}
                    <a href="{% url 'pieces:tag' tag.slug %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
        {% endif %}
    </div>
    <div class="tags-and-comments">
        {% if piece.categories.all %}
            Catégorie
                {% for cat in piece.categories.all %}
                    <a href="{% url 'pieces:category' cat.category.slug %}">{{ cat.category.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %} | 
        {% endif %}

        <div id="comments" class="comments">
        {% if COMMENTS_APP == 'django_comments_xtd' %}
            {% include 'piece/piece_post_comments_xtd_link.html' with piece=piece %}
        {% elif False %}
            <a href="{% pageurl piece %}#disqus_thread">No Comments</a>
        {% endif %}
        </div>
    </div>
</div>
